extends ../layout

block content
    div(id="gawais-view")
        h1= title
        p
            label IMEI
            span #{gawai.IMEI}
        p
            label Provider
            span #{gawai.Res2}
        p
            label Tipe
            span #{gawai.Res4}
        p
            label Merk
            span #{gawai.Res5}
        p
            label OS
            span #{gawai.Res7}